{% extends 'ImageGalleryApp/base.html' %}


{% block title %}
    HomePage
{% endblock title %}
    

{% block content %}
    <div class='container d-flex flex-column align-items-center justify-content-center gap-2'>
        {% if request.user.is_authenticated %}
            <h2>Hello <span class="text-primary fs-2">{{request.user}}!</span></h2>
            <h1 class='text-center'>Welcome to <span class="text-primary fs-1">Image Gallery</span></h1>
            <a href="{% url 'image_gallery' %}" class="btn btn-primary">Image Gallery</a>
        {% else %}
        <h1 class='text-center'>Welcome to <span class="text-primary fs-1">Image Gallery</span></h1>
        <div>
            <a href="{% url 'login' %}" class='btn btn-primary'>Login</a>
            <a href="{% url 'register' %}" class='btn btn-primary' >Register</a>
        </div>
        {% endif %}
    </div>
{% endblock content %}
    